# Add any directories, files, or patterns you don't want to be tracked by version control
bower_components
dist
node_modules
build
!build/bundled/publish.csproj
/src/**/*.js
/src/*.js
/src/**/*.map
/src/*.map
*.map
test/*.js
.vscode/symbols.json
test/validators/*.js
test/xpath/*.js
.vscode/settings.json
*.map
*.map
src/my-app.js.map
*.map
